/bin
/out
/run
/.gradle
*.iml
/.metadata
/.settings
./classpath
/dep
/build
/libs

*.iws
*.ipr
*.iml
Thumbs.db
changelog.txt
*.log
.idea/*
classes/*
/.classpath
/.project
*.launch
/doc/
/src/main/java/reborncore/vinculum/*
